{% extends "base.html" %} {% block content %}
<div>
  {% if current_user.is_authenticated %}
  <h1>{{ current_user.name }}さん、ようこそ！</h1>
  <a href="{{ url_for('movies') }}" class="btn btn-primary">映画一覧へ</a>
  {% else %}
  <p>このような映画カードが作れます。あなたが付けた点数で映画をランキングします。</p>
  <p>
    他の映画データも検索で簡単に追加できます。
    <a href="{{ url_for('search') }}" class="btn btn-primary">検索</a>
  </p>
  <div class="card" style="width: 300px; height: 500px; margin: 0 auto">
    <div
      class="front"
      style="
        background-image: url('{{ movie.img_url }}');
      "
    >
      <p class="large">1</p>
    </div>
    <div class="back">
      <div>
        <div class="title">
          {{ movie.title }} <span class="release_date">({{ movie.year }})</span>
        </div>
        <div class="rating">
          <label>あなたの点数</label>
          <i class="fas fa-star star"></i>
        </div>
        <p class="review">あなたのコメント</p>
        <p class="overview">{{ movie.description }}</p>

        <a href="#" class="button">評価</a>
        <a href="#" class="button delete-button">削除</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
