{% extends 'base.html' %}
{% from "bootstrap5/form.html" import render_form %}
{% block title %}私のトップ10映画{% endblock %}
{% block content %}
<div class="container">
  {% if movies|length > 0 %} {% for movie in movies %}
  <div class="card">
    <div class="front" style="background-image: url('{{ movie.img_url }}');">
      <p class="large">{{ movie.ranking }}</p>
    </div>
    <div class="back">
      <div>
        <div class="title">
          {{ movie.title }} <span class="release_date">({{ movie.year }})</span>
        </div>
        <div class="rating">
          <label>{{ movie.rating }}</label>
          <i class="fas fa-star star"></i>
        </div>
        <p class="review">{{ movie.review }}</p>
        <p class="overview">{{ movie.description }}</p>

        <a href="{{ url_for('rate', id=movie.id) }}" class="button">評価</a>
        <a
          href="{{ url_for('delete', id=movie.id) }}"
          class="button delete-button"
          >削除</a
        >
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <p>自分の映画リストを作りましょう。右下の＋ボタンをクリックしてください。</p>
  {% endif %}
  <!-- 右下に浮かぶ＋ボタン -->
  <a data-bs-toggle="modal" data-bs-target="#searchModal" class="floating-add-button"
    ><i class="fas fa-plus"></i
  ></a>
</div>

  <!-- search modal -->
  <div
    class="modal fade"
    id="searchModal"
    tabindex="-1"
    aria-labelledby="searchModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">映画を検索する</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body p-5 pt-0">
          {{ render_form(search_form, action=url_for('search'), method="POST") }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
