{% extends 'base.html' %} {% block title %}My Top 10 Movies{% endblock %} {%
block content %}
{% for movie in movies %}
<div class="card">
  <div class="front" style="background-image: url('{{ movie.img_url }}');">
    <p class="large">{{ movie.ranking }}</p>
  </div>
  <div class="back">
    <div>
      <div class="title">
        {{ movie.title }} <span class="release_date">({{ movie.year }})</span>
      </div>
      <div class="rating">
        <label>{{ movie.rating }}</label>
        <i class="fas fa-star star"></i>
      </div>
      <p class="review">{{ movie.review }}</p>
      <p class="overview">{{ movie.description }}</p>

      <a href="{{ url_for('rate', id=movie.id) }}" class="button">Rate</a>
      <a
        href="{{ url_for('delete', id=movie.id) }}"
        class="button delete-button"
        >Delete</a
      >
    </div>
  </div>
</div>
{% endfor %}
<!-- 右下に浮かぶ＋ボタン -->
<a href="{{ url_for('search') }}" class="floating-add-button"
  ><i class="fas fa-plus"></i
></a>
{% endblock %}
