{% extends 'base.html' %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie</h1>
  <p>
    {% if options %}
    {% for option in options %}
    <p>
    {% set img_url = "https://image.tmdb.org/t/p/w500" + (option.poster_path if option.poster_path else "") %}
    {% set year = option.release_date.split("-")[0] if option.release_date else "No year" %}
    <a href="{{ url_for('add_movie', title=option.title, year=year, description=option.overview, img_url=img_url) }}"> {{ option.title }} - {{ year }}</a>
    </p>
    {% endfor %}
    {% else %}
    <p>No options found</p>
    {% endif %}
  </p>

</div>
{% endblock %}