{% extends 'base.html' %}

{% block title %}映画を選択{% endblock %}

{% block content %}
    <h1 class="heading">映画を選択</h1>
  <p>
    {% if options %}
    {% for option in options %}
    <p>
      <form action="{{ url_for('create_card') }}" method="POST">
        <input type="hidden" id="selected" name="selected" value='{{ option|tojson }}'>
        <button type="submit">{{ option.title }} - {{ option.release_date }}</button>
      </form>
    </p>
    {% endfor %}
    {% else %}
    <p>検索結果が見つかりませんでした</p>
    {% endif %}
  </p>
{% endblock %}